<?xml version="1.0"?>
<model>
  <name>clara</name>
  <version>0.1.0</version>
  <author>
   <name>Asun Perez</name>
   <email>asperez@eln.upv.es</email>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    Female Human for testing human detection systems.
    3d model created by : https://www.blendswap.com/blend/21420
  </description>
</model>
