<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="map_file" default="$(find multi_robot)/maps/tb3_hospital.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="rviz_config" default="$(find multi_robot)/rviz/robot2.rviz"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <param name="rate" value="50"/>
  </node>

  <!-- GAZEBO -->
  <!--<arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>
-->
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/robot2.urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <!-- Map server -->
 <include file="$(find multi_robot)/launch/provide_map.launch"/>

  <!-- AMCL -->
  <include file="$(find multi_robot)/launch/amcl_robot2.launch"/>

  <!-- move_base -->

  <!-- Arguments -->
  <!--<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>-->
  <arg name="cmd_vel_topic" default="/robot2/cmd_vel" />
  <arg name="odom_topic" default="/robot2/odom" />

  <!-- move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find multi_robot)/param/costmap_common_params_$(arg model)_robot2.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find multi_robot)/param/local_costmap_params_robot2.yaml" command="load" />
    <rosparam file="$(find multi_robot)/param/global_costmap_params_robot2.yaml" command="load" />
    <rosparam file="$(find multi_robot)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find multi_robot)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
  
  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg rviz_config)"/>
  </group>

</launch>