<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="map_file" default="$(find multi_robot)/maps/tb3_hospital.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="rviz_config" default="$(find multi_robot)/rviz/robot1.rviz"/>

  <!-- Map server -->
 <include file="$(find multi_robot)/launch/provide_map.launch"/>

  <!-- AMCL -->
  <include file="$(find multi_robot)/launch/amcl_robot1.launch"/>

  <!-- Arguments -->
  <!--<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>-->
  <arg name="cmd_vel_topic" default="/robot1/cmd_vel" />
  <arg name="odom_topic" default="/robot1/odom" />

  <!-- move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find multi_robot)/param/costmap_common_params_$(arg model)_robot1.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find multi_robot)/param/local_costmap_params_robot1.yaml" command="load" />
    <rosparam file="$(find multi_robot)/param/global_costmap_params_robot1.yaml" command="load" />
    <rosparam file="$(find multi_robot)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find multi_robot)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
  
  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg rviz_config)"/>
  </group>

</launch>