<launch>

    <arg name="init_pose" value="-x 1 -y 1 -z 0" />
    <arg name="robot_name" value="turtlebot3" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find youngirobot_identificacion)/urdf/turtlebot3_burger.urdf.xacro'" />

     <!-- start world -->
    <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(find youngirobot_identificacion)/worlds/lfm.world" respawn="false" output="screen" />

    <!-- start gui -->
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" />

    <!-- Spawn Robot Turtlebot3 (with video camera) -->

  <node name="spawn_turtlebot3_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose)  -urdf -param robot_description -model $(arg robot_name)"
        respawn="false" output="screen" />
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

</launch>
